:root{
    /* ### Primary */

--Desaturated-Red: hsl(0, 36%, 70%);
--Soft-Red: hsl(0, 93%, 68%);

/* ### Neutral */

--Dark-Grayish-Red: hsl(0, 6%, 24%);
}

*{
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    overflow: hidden;
}
.container{
    height: 95vh;
    background: url(/images/bg-pattern-desktop.svg) ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.wrapper{
    margin: 7% 15%;
}
/* Logo Website */
.images-logo{
    margin-bottom: 8rem;
   
}
/* Header Text - Content Text */
.content{
    margin-bottom: 6rem;
    
}
.content h1{
    font-size: 5rem;
    font-weight: 300;
    color: var(--Desaturated-Red);
    letter-spacing: 10px;
}
.content h1 span{
    font-weight: 500;
    color: #000;
}
.content-text{
    color: var(--Desaturated-Red);
    line-height: 2;
}
.content{
    margin-bottom: 2rem;
}
/* From Component */
.form-control input{
    width: 100%;
    padding: 15px 15px;
    border-radius: 50px;
    background: none;
    border: 1px solid var(--Desaturated-Red);
}
.form-control.error input{  
    border: 1px solid var(--Soft-Red);
}
.form-control.success input{  
    border: 1px solid var(--Desaturated-Red);
}
.form-control .icons-errors{
    position: absolute;
    top: 77.5%;
    left: 40%;
    visibility: hidden;
}
.form-control.error .icons-errors{
    visibility: visible;
}
.form-control small{
    color: var(--Soft-Red);
    margin-left: 1rem;
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
}
/* button Form */
.contact button{
    position: absolute;
    width: 5%;
    height: 5%;
    bottom: 18.7%;
    left: 42%;
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0 10px 10px hsl(0, 74%, 74%, 0.25);
    cursor: pointer;
}
.contact button:hover{
    background: hsl(0, 70%, 86%);
    box-shadow: 0 15px 15px hsl(0, 46%, 24%, 0.2);
}

.images-mobile{
    display: none;
}

@media (max-width: 1440px){
    .wrapper{
        margin: 7% 10%;
    }
    .form-control .icons-errors{  
        top: 80.6%;
        left: 35%;
    }
    .contact button{
        width: 7%;
        height: 5.5%;
        bottom: 15.2%;
        left: 39%;
    }
}

@media (max-width: 991px){
    .images-logo{
       margin-left: 5rem;
    }
    .content{
        margin-left: 5rem;  
    }
    .wrapper{
        margin: 7% 10%;
    }
    .contact{
        margin-left: 5rem;
    }
    .form-control .icons-errors{  
        top: 82.6%;
        left: 35%;
    }
    .contact button{
        width: 9%;
        height: 5.5%;
        bottom: 13.3%;
        left: 39%;
    }
    
}
@media (max-width: 440px){
    .images-desktop{
        display: none;
    }
    .images-mobile{
        display: grid;
    }
    .container{
        display: grid;
        
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .images-logo{
        margin-bottom: 2rem;
    }
    .content{
        margin-left: 0;  
    }
    .content h1{
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
        color: var(--Desaturated-Red);
        letter-spacing: 10px;
    }
    .content-text{
        color: var(--Desaturated-Red);
        text-align: center;
        line-height: 1.5;
    }
    .contact{
        width: 100%;
        margin-left: 0rem;
    }
    .form-control .icons-errors{  
        top: 85.9%;
        left: 68%;
    }
    .contact button{
        width: 20%;
        height: 5.5%;
        bottom: 9.8%;
        left: 77%;
    }
}

